<nav class="sidebar">
  <ul class="navbar">
    <li class="navbar-element" ui-sref="revisions" ui-sref-active="active">
      Revisiones
    </li>
    <li class="navbar-element" ui-sref="vehicles" ui-sref-active="active">
      Vehículos
    </li>
    <li class="navbar-element" ui-sref="users" ui-sref-active="active">
      Usuarios
    </li>
    <li class="navbar-element" ui-sref="deliveryPlaces" ui-sref-active="active">
      Lugar de entrega
    </li>
  </ul>
</nav>
