<!DOCTYPE html>
<html>
  <head>
    <title>Budget</title>
    <base href="/" />
    <link rel="shortcut icon" href="assets/img/budget-icon.png"/>
    <!-- inject:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="bower_components/ng-notify/src/styles/ng-notify.css">
    <link rel="stylesheet" href="assets/stylesheets/application.css">
    <link rel="stylesheet" href="assets/stylesheets/sidebar.css">
    <!-- endinject -->
  </head>
  <body ng-app="app">
    <header id="app-header">
      <a href="/">
        <img id="app-logo" src="assets/img/logo.png" alt="logo" />
      </a>
      <button class="btn top-right-corner btn-primary" ng-show="isLoggedIn()" ng-click="logOut()">Salir</button>
    </header>
    <div ui-view>
    </div>
    <!-- inject:js -->
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script src="node_modules/firebase/firebase.js"></script>
    <script src="node_modules/angularfire/dist/angularfire.min.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="bower_components/angularUtils-pagination/dirPagination.js"></script>
    <script src="bower_components/paper/dist/paper-core.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/ng-csv/build/ng-csv.js"></script>
    <script src="bower_components/ng-notify/dist/ng-notify.min.js"></script>
    <script src="bower_components/ng-lodash/build/ng-lodash.min.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/core/core.module.js"></script>
    <script src="app/layout/layout.module.js"></script>
    <script src="app/components/delivery_places/delivery_places.module.js"></script>
    <script src="app/components/login/login.module.js"></script>
    <script src="app/components/users/users.module.js"></script>
    <script src="app/components/revisions/revisions.module.js"></script>
    <script src="app/components/vehicles/vehicles.module.js"></script>
    <script src="app/app.config.js"></script>
    <script src="app/app.routes.js"></script>
    <script src="app/core/core.constants.js"></script>
    <script src="app/shared/confirm_delete_modal.controller.js"></script>
    <script src="app/shared/deletionModal.service.js"></script>
    <script src="app/shared/filterObjDict.filter.js"></script>
    <script src="app/shared/session.service.js"></script>
    <script src="app/components/delivery_places/delivery_places.controller.js"></script>
    <script src="app/components/delivery_places/delivery_places.routes.js"></script>
    <script src="app/components/delivery_places/delivery_places.service.js"></script>
    <script src="app/components/login/login.controller.js"></script>
    <script src="app/components/login/login.routes.js"></script>
    <script src="app/components/login/login.service.js"></script>
    <script src="app/components/users/users.controller.js"></script>
    <script src="app/components/users/users.routes.js"></script>
    <script src="app/components/users/users.service.js"></script>
    <script src="app/components/revisions/revisions.constants.js"></script>
    <script src="app/components/revisions/revisions.controller.js"></script>
    <script src="app/components/revisions/revisions.routes.js"></script>
    <script src="app/components/revisions/revisions.service.js"></script>
    <script src="app/components/revisions/revisions_email.service.js"></script>
    <script src="app/components/revisions/revisions_pdf.service.js"></script>
    <script src="app/components/vehicles/string-to-number.directive.js"></script>
    <script src="app/components/vehicles/vehicles.controller.js"></script>
    <script src="app/components/vehicles/vehicles.routes.js"></script>
    <script src="app/components/vehicles/vehicles.service.js"></script>
    <script src="app/layout/sidebar/sidebar.directive.js"></script>
    <script src="app/components/delivery_places/new/new.controller.js"></script>
    <script src="app/components/delivery_places/show/show.controller.js"></script>
    <script src="app/components/users/edit/edit.controller.js"></script>
    <script src="app/components/users/new/new.constants.js"></script>
    <script src="app/components/users/new/new.controller.js"></script>
    <script src="app/components/users/show/show.controller.js"></script>
    <script src="app/components/revisions/edit/edit.controller.js"></script>
    <script src="app/components/revisions/show/print_pdf_modal.controller.js"></script>
    <script src="app/components/revisions/show/send_email_modal.controller.js"></script>
    <script src="app/components/revisions/show/show.controller.js"></script>
    <script src="app/components/revisions/show/show.service.js"></script>
    <script src="app/components/vehicles/edit/edit.controller.js"></script>
    <script src="app/components/vehicles/new/new.controller.js"></script>
    <script src="app/components/vehicles/show/show.controller.js"></script>
    <script src="app/components/revisions/show/canvas/canvas.controller.js"></script>
    <!-- endinject -->

  </body>
</html>
