<sidebar></sidebar>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1>Nuevo Veh&iacute;culo</h1>
      </div>
    </div>
  <form name="newVehicleForm" novalidate>
    <div class="show-info-container">
      <div class="row form-row">
        <div class="col-md-2 col-sm-3 label-container">
          <label>MVA:</label>
        </div>
        <div class="col-md-10 col-sm-9">
          <input name="vehicleMVA" ng-model="vm.vehicle.MVA" required/>
        </div>
        <div class="help-block col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3"
             ng-messages="newVehicleForm.vehicleMVA.$error"
             ng-show="newVehicleForm.vehicleMVA.$touched && newVehicleForm.vehicleMVA.$invalid">
          <div ng-messages-include="app/components/vehicles/messages.html"></div>
        </div>
      </div>
      <div class="row form-row">
        <div class="col-md-2 col-sm-3 label-container">
          <label>Llave:</label>
        </div>
        <div class="col-md-10 col-sm-9">
          <input name="vehicleKey" ng-model="vm.vehicle.key" required/>
        </div>
        <div class="help-block col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3"
             ng-messages="newVehicleForm.vehicleKey.$error"
             ng-show="newVehicleForm.vehicleKey.$touched && newVehicleForm.vehicleKey.$invalid">
          <div ng-messages-include="app/components/vehicles/messages.html"></div>
        </div>
      </div>
      <div class="row form-row">
        <div class="col-md-2 col-sm-3 label-container">
          <label>Marca:</label>
        </div>
        <div class="col-md-10 col-sm-9">
          <input name="vehicleBrand" ng-model="vm.vehicle.brand" required/>
        </div>
        <div class="help-block col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3"
             ng-messages="newVehicleForm.vehicleBrand.$error"
             ng-show="newVehicleForm.vehicleBrand.$touched && newVehicleForm.vehicleBrand.$invalid">
          <div ng-messages-include="app/components/vehicles/messages.html"></div>
        </div>
      </div>
      <div class="row form-row">
        <div class="col-md-2 col-sm-3 label-container">
          <label>Modelo:</label>
        </div>
        <div class="col-md-10 col-sm-9">
          <input name="vehicleModel" ng-model="vm.vehicle.model" required/>
        </div>
        <div class="help-block col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3"
             ng-messages="newVehicleForm.vehicleModel.$error"
             ng-show="newVehicleForm.vehicleModel.$touched && newVehicleForm.vehicleModel.$invalid">
          <div ng-messages-include="app/components/vehicles/messages.html"></div>
        </div>
      </div>
      <div class="row form-row">
        <div class="col-md-2 col-sm-3 label-container">
          <label>PSC:</label>
        </div>
        <div class="col-md-10 col-sm-9">
          <input name="vehiclePSC" ng-model="vm.vehicle.PSC" required/>
        </div>
        <div class="help-block col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3"
             ng-messages="newVehicleForm.vehiclePSC.$error"
             ng-show="newVehicleForm.vehiclePSC.$touched && newVehicleForm.vehiclePSC.$invalid">
          <div ng-messages-include="app/components/vehicles/messages.html"></div>
        </div>
      </div>
      <div class="row form-row">
        <div class="col-md-2 col-sm-3 label-container">
          <label>Color:</label>
        </div>
        <div class="col-md-10 col-sm-9">
          <input name="vehicleColor" ng-model="vm.vehicle.color" required/>
        </div>
        <div class="help-block col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3"
             ng-messages="newVehicleForm.vehicleColor.$error"
             ng-show="newVehicleForm.vehicleColor.$touched && newVehicleForm.vehicleColor.$invalid">
          <div ng-messages-include="app/components/vehicles/messages.html"></div>
        </div>
      </div>
      <div class="row form-row">
        <div class="col-md-2 col-sm-3 label-container">
          <label>Tipo de gasolina:</label>
        </div>
        <div class="col-md-10 col-sm-9">
          <select name="vehicleGas" ng-model="vm.vehicle.gas" required>
            <option value="Gasolina">Gasolina</option>
            <option value="Diesel">Diesel</option>
          </select>
        </div>
      </div>
      <div class="row form-row">
        <div class="col-md-2 col-sm-3 label-container">
          <label>Tracci&oacute;n:</label>
        </div>
        <div class="col-md-10 col-sm-9">
          <select name="vehicleTractionType" ng-model="vm.vehicle.traction_type" required>
            <option value="4x2">4x2</option>
            <option value="4x4">4x4</option>
          </select>
        </div>
      </div>
      <div class="row form-row">
        <div class="col-md-2 col-sm-3 label-container">
          <label>N&uacute;mero de placa:</label>
        </div>
        <div class="col-md-10 col-sm-9">
          <input type="text" name="vehicleLicensePlate" ng-model="vm.vehicle.license_plate" required/>
        </div>
        <div class="help-block col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3"
             ng-messages="newVehicleForm.vehicleLicensePlate.$error"
             ng-show="newVehicleForm.vehicleLicensePlate.$touched && newVehicleForm.vehicleLicensePlate.$invalid">
          <div ng-messages-include="app/components/vehicles/messages.html"></div>
        </div>
      </div>
      <div class="row form-row">
        <div class="col-md-2 col-sm-3 label-container">
          <label>A&ntilde;o:</label>
        </div>
        <div class="col-md-10 col-sm-9">
          <input type="number" name="vehicleYear" min="1900" max="2200" string-to-number ng-model="vm.vehicle.year" required />
        </div>
          <div class="help-block col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3"
               ng-messages="newVehicleForm.vehicleYear.$error"
               ng-show="newVehicleForm.vehicleYear.$touched && newVehicleForm.vehicleYear.$invalid">
            <div ng-messages-include="app/components/vehicles/messages.html"></div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <button ng-disabled="newVehicleForm.$invalid" class="btn btn-primary btn-long" ng-click="vm.persistData(vm.vehicle)">Guardar</button>
        <button class="btn btn-secondary btn-long" ui-sref="vehicles">Volver</button>
      </div>
    </div>
  </form>
</div>

