<sidebar></sidebar>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1> {{ vm.deliveryPlace.name }} </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <button class="btn btn-primary btn-long" ng-click="vm.remove()">Eliminar</button>
        <button class="btn btn-secondary btn-long" ui-sref="deliveryPlaces">Volver</button>
      </div>
    </div>
  </div>
</div>

