<sidebar></sidebar>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row">

      <h1>Veh&iacute;culos</h1>
      <button class="btn btn-primary" ui-sref="vehicleNew">Nuevo Vehículo</button><br /><br />
      <div class="input-group">
        <input type="text" ng-model="vm.query" placeholder="Buscar veh&iacute;culo" class="form-control" /><br/><br/>
      </div>
      <div class="table table-responsive" ng-if="vm.loading">
        <h5>Cargando Lista de Vehiculos...</h5>
        <div class="progress progress-striped active page-progress-bar">
          <div class="progress-bar" style="width: 100%;"></div>
        </div>
      </div>


      <table class="table table-responsive" ng-if="!vm.loading">
        <tr>
          <th>MVA</th>
          <th>Llave</th>
          <th>Marca</th>
          <th>Modelo</th>
          <th>Placa</th>
          <th>PSC</th>
        </tr>
        <tr dir-paginate="vehicle in vm.vehicles | filterObjDict: vm.query:['MVA', 'license_plate'] | itemsPerPage:20" ng-click="vm.showVehicle(vehicle.MVA)">
          <td>{{ vehicle.MVA }}</td>
          <td>{{ vehicle.key }}</td>
          <td>{{ vehicle.brand }}</td>
          <td>{{ vehicle.model }}</td>
          <td>{{ vehicle.license_plate }}</td>
          <td>{{ vehicle.PSC }}</td>
        </tr>
      </table>
      <dir-pagination-controls
       max-size="5"
       direction-links="true"
       boundary-links="true" >
      </dir-pagination-controls>

    </div>
  </div>
</div>

