<sidebar></sidebar>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1>Informaci&oacute;n del veh&iacute;culo</h1>
      </div>
    </div>
    <div class="show-info-container">
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>MVA:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.vehicle.MVA }}</span>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Llave:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.vehicle.key }}</span>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Marca:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.vehicle.brand }}</span>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Modelo:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.vehicle.model }}</span>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Placa:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.vehicle.license_plate }}</span>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>PSC:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.vehicle.PSC }}</span>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Color:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.vehicle.color }}</span>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Tipo de gasolina:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.vehicle.gas }}</span>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Tipo de tracci&oacute;n:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.vehicle.traction_type }}</span>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>A&ntilde;o:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.vehicle.year }}</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <button class="btn btn-primary btn-long" ui-sref="vehicleEdit({id: vm.vehicle.$id })">Editar</button>
        <button class="btn btn-secondary btn-long" ui-sref="vehicles">Volver</button>
      </div>
    </div>
  </div>
</div>

