<sidebar></sidebar>
<div class="content-wrapper">
  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-12">
        <h1>Nuevo Lugar de Entrega</h1>
      </div>
    </div>

    <form name="newDeliveryPlaceForm" novalidate>
      <div class="show-info-container">

        <div class="row form-row">
          <div class="col-md-2 col-sm-3 label-container">
            <label>Nombre del Lugar:</label>
          </div>
          <div class="col-md-10 col-sm-9">
            <input type="text" name="username" ng-model="vm.deliveryPlace.name" required/>
          </div>
          <div class="help-block col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3"
               ng-messages="newUserForm.username.$error"
               ng-show="newUserForm.username.$touched && newUserForm.username.$invalid">
            <div ng-messages-include="app/components/users/messages.html"></div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-lg-12">
          <button newDeliveryPlaceForm.$invalid" class="btn btn-primary btn-long" ng-click="vm.save(vm.deliveryPlace)">Guardar</button>
          <button class="btn btn-secondary btn-long" ui-sref="deliveryPlaces">Volver</button>
        </div>
      </div>

    </form>
  </div>
</div>

