<sidebar></sidebar>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1>Editar {{ vm.user.username }}</h1>
      </div>
    </div>
    <form name="editUserForm" novalidate>
      <div class="show-info-container">
        <div class="row form-row">
          <div class="col-md-2 col-sm-3 label-container">
            <label>Contrase&ntilde;a:</label>
          </div>
          <div class="col-md-10 col-sm-9">
            <input type="password" name="password" ng-model="vm.user.password" required/>
          </div>
          <div class="help-block col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3"
               ng-messages="editUserForm.password.$error"
               ng-show="editUserForm.password.$touched && editUserForm.password.$invalid">
            <div ng-messages-include="app/components/users/messages.html"></div>
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2 col-sm-3 label-container">
            <label>Confirmaci&oacute;n de contrase&ntilde;a:</label>
          </div>
          <div class="col-md-10 col-sm-9">
            <input type="password" ng-pattern="vm.user.password" name="passwordConfirmation" ng-model="passwordConfirmation" required/>
          </div>
          <div class="help-block col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3"
               ng-messages="editUserForm.passwordConfirmation.$error"
               ng-show="editUserForm.passwordConfirmation.$touched && editUserForm.passwordConfirmation.$invalid">
            <div ng-messages-include="app/components/users/messages.html"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <button ng-disabled="editUserForm.$invalid" class="btn btn-primary btn-long" ng-click="vm.persistData(vm.user)">Guardar</button>
          <button class="btn btn-secondary btn-long" ui-sref="user({id: vm.user.$id})">Volver</button>
          <button class="btn btn-long" ng-click="vm.openDeleteModal()">Eliminar</button>
        </div>
      </div>
    </form>
  </div>
</div>

