<sidebar></sidebar>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1>Editar revisi&oacute;n</h1>
      </div>
    </div>
    <form name="editRevisionForm" novalidate>
      <div class="show-info-container">
        <div class="row form-row">
          <div class="col-md-2 col-sm-3 label-container">
            <label>Veh&iacute;culo:</label>
          </div>
          <div class="col-md-10 col-sm-9">
            <input type="text" name="vehicle" ng-model="vm.revision.vehicle_ref" ng-pattern="/^\d+$/" required />
          </div>
          <div class="help-block col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3"
               ng-messages="editRevisionForm.vehicle.$error"
               ng-show="editRevisionForm.vehicle.$touched && editRevisionForm.vehicle.$invalid">
            <div ng-messages-include="app/components/revisions/messages.html"></div>
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2 col-sm-3 label-container">
            <label>Usuario:</label>
          </div>
          <div class="col-md-10 col-sm-9">
            <input type="text" name="username" ng-model="vm.revision.username" required/>
          </div>
          <div class="help-block col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3"
               ng-messages="editRevisionForm.username.$error"
               ng-show="editRevisionForm.username.$touched && editRevisionForm.username.$invalid">
            <div ng-messages-include="app/components/revisions/messages.html"></div>
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2 col-sm-3 label-container">
            <label>N&uacute;mero de contrato:</label>
          </div>
          <div class="col-md-10 col-sm-9">
            <input type="text" name="contractNumber" ng-model="vm.revision.contract_number" pattern="[0-9]{9}" maxLength="9"/>
          </div>
          <div class="help-block col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3"
               ng-messages="editRevisionForm.contractNumber.$error"
               ng-show="editRevisionForm.contractNumber.$touched && editRevisionForm.contractNumber.$invalid">
            <div ng-messages-include="app/components/revisions/messages.html"></div>
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2 col-sm-3 label-container">
            <label>Tipo:</label>
          </div>
          <div class="col-md-10 col-sm-9">
            <select ng-options="option.name as option.name for option in vm.revisionTypes" ng-model="vm.revision.type">
            </select>
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2 col-sm-3 label-container">
            <label>Lugar de entrega:</label>
          </div>
          <div class="col-md-10 col-sm-9">
            <select name="place" ng-options="option.name as option.name for option in vm.deliveryPlaces | orderBy: 'name'" ng-model="vm.revision.delivery_place">
            </select>
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2 col-sm-3 label-container">
            <label>Gas:</label>
          </div>
          <div class="col-md-10 col-sm-9">
            <select ng-options="option.name as option.name for option in vm.gasStates" ng-model="vm.revision.gas_level">
            </select>
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2 col-sm-3 label-container">
            <label>Fecha:</label>
          </div>
          <div class="col-md-10 col-sm-9">
            <span>{{ vm.revision.timestamp | date:'yyyy-MM-dd HH:mm:ss' }}</span>
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2 col-sm-3 label-container">
            <label>Llanta frontal izquierda:</label>
          </div>
          <div class="col-md-10 col-sm-9">
            <select ng-options="option.name as option.name for option in vm.tireBrands" ng-model="vm.revision.tires.left_front">
            </select>
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2 col-sm-3 label-container">
            <label>Llanta frontal derecha:</label>
          </div>
          <div class="col-md-10 col-sm-9">
            <select ng-options="option.name as option.name for option in vm.tireBrands" ng-model="vm.revision.tires.right_front">
            </select>
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2 col-sm-3 label-container">
            <label>Llanta trasera izquierda:</label>
          </div>
          <div class="col-md-10 col-sm-9">
            <select ng-options="option.name as option.name for option in vm.tireBrands" ng-model="vm.revision.tires.left_rear">
            </select>
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2 col-sm-3 label-container">
            <label>Llanta trasera derecha:</label>
          </div>
          <div class="col-md-10 col-sm-9">
            <select ng-options="option.name as option.name for option in vm.tireBrands" ng-model="vm.revision.tires.right_rear">
            </select>
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2 col-sm-3 label-container">
            <label>Observaciones:</label>
          </div>
          <div class="col-md-10 col-sm-9">
            <div ng-repeat="observation in vm.observations">
              <input type="text" ng-model="observation.observation" />
              <button ng-click="vm.deleteObservation(observation)" class="btn glyphicon glyphicon-remove"></button>
            </div>
            <button ng-click="vm.createObservation()" class="btn glyphicon glyphicon-plus"></button>
            <span ng-hide="vm.observations">Sin Observaciones</span>
          </div>
        </div>
      <div class="row">
        <div class="col-lg-12">
          <button ng-disabled="editRevisionForm.$invalid" class="btn btn-primary btn-long" ng-click="vm.saveRevision()">Guardar</button>
          <button class="btn btn-secondary btn-long" ui-sref="revision({id: vm.revision.$id})">Volver</button>
          <button class="btn btn-long" ng-click="vm.openDeleteModal()">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
</div>
