<div class="modal-header">
  <h3 class="modal-title">Confirmar</h3>
</div>
<form>
  <div class="modal-body">
          <label>&iquest;Est&aacute; seguro que desea eliminar el usuario?</label>
  </div>
  <div class="modal-footer text-center">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-primary" ng-click="vm.confirm()">Eliminar</button>
          <button class="btn btn-secondary" ng-click="vm.cancel()">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</form>
