body {
  background: white;
  color: #032A5D;
  padding-bottom: 3em;
}

#comment{
  height: 200px;
  width: 70%;
  resize: none;
}

#app-header {
  background: #04368C;
  height: 5em;
}

#app-logo {
  max-height: 98%;
  padding: 1%;
}

.btn {
  text-shadow: none;
  box-shadow: none;
}

.btn-long {
  min-width: 10em;
  margin: 0 0.5em;
}

.btn-primary {
  background: #04368C;
  border: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #11c1f3;
  border: none;
}

.btn-secondary {
  color: white;
  background: #1A2F59;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  color: white;
  background: #1C2159;
}

.list-container {
  padding: 1em;
}

.list-element {
  padding: 0.6em 0.4em 1em 0.4em;
  border-bottom: 0.1em solid lightgrey;
}

.list-element:hover {
  background: #F5F5F5;
  padding: 1em 0.4em 1.4em 0.4em;
  cursor: pointer;
}

.show-info-container {
  margin: 2em 0 3em 0;
}

.info-detail {
  margin-bottom: 0.8em;
  padding-bottom: 0.2em;
  border-bottom: 0.1em solid #F5F5F5;
}

.form-row {
  padding: 0.4em 0;
  margin: 0.2em 0;
}

input {
  padding: 0.2em 0.6em;
  color: grey;
  border: none;
  border-bottom: 1px solid lightgray;
}

input:hover {
  color: #1C2159;
  border-bottom: 1px solid #1A2F59;
}

input:focus {
  color: #11c1f3;
  border-bottom: 2px solid #11c1f3;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

table td, table th {
  text-align: center;
}

tr:hover td {
  cursor: pointer;
  background: #F5F5F5;
}

.table-feedback{
  width: 100%;
}

.modal-footer.text-center {
  text-align: center;
}

input.ng-touched.ng-invalid{
 color: #11c1f3;
 border-bottom: 2px solid #11c1f3;
}

.msg-error{
 font-size: 10px;
 color: #11c1f3;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.absolute-center.is-responsive {
  width: 50%;
  height: 25%;
  min-width: 450px;
  max-width: 450px;
  padding: 40px;
}

.top-right-corner {
  float: right;
  margin: 25px 30px 0 0;
}

#canvas{
  height: 24em;
  z-index: 20;
  max-width: 150%;
  max-height: 150%;
}

.btn-action {
  width: 100%;
  margin: 3px;
}
