.sidebar {
  display: inline-block;
  width: 20%;
  float: left;
  background: white;
  border-right: 1px solid #F5F5F5;
}

.navbar {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 0;
}

.navbar-element {
  padding: 1.2em 1em;
  border-bottom: 1px solid #F5F5F5;
  cursor: pointer;
  color: black;
}

.navbar-element:hover {
  background: #6BD6F4;
}

.navbar-element.active {
  background: #0181A5;
  color: white;
}

.content-wrapper {
  display: inline-block;
  width: 80%;
  padding: 0 1em;
}
