<sidebar></sidebar>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row">

      <h1>Lugares de Entrega</h1>
      <button class="btn btn-primary" ui-sref="deliveryPlaceNew">Nuevo Lugar de Entrega</button>
      <br />
      <br />

      <div class="input-group">
        <input type="text" ng-model="query" placeholder="Buscar..." class="form-control"/>
      </div>

      <div class="col-12 list-container">
        <div class="col-12 list-element"
             ng-repeat="deliveryPlace in vm.deliveryPlaces | orderBy: 'name' | filter: query"
             ng-click="vm.showDeliveryPlace(deliveryPlace.$id)">
          <h4>{{ deliveryPlace.name }}</h4>
        </div>
      </div>

    </div>
  </div>
</div>

