<sidebar></sidebar>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <h1>Usuarios de aplicación</h1>
        <button class="btn btn-primary" ui-sref="userNew({type: 'appUser'})"> Crear Usuario Aplicación </button>
        <button class="btn btn-secondary" ui-sref="userNew({type: 'adminUser'})" ng-if="vm.shouldShowCreateAdminUser()"> Crear Usuario Administrador</button>
      </div>
    </div>
    <div class="col-12 list-container">
      <div class="col-12 list-element" ng-repeat="user in vm.users" ng-click="vm.showUser(user.username)">
        <h4> {{user.username}}</h4>
      </div>
    </div>
  </div>
</div>
