<div class="modal-header">
  <h3 class="modal-title">Imprimir PDF</h3>
</div>
<form name="printPDFForm">
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row form-row">
        <div class="col-sm-12">
          <label>Idioma:</label>
          <select name="language" ng-model="vm.language">
            <option value="spanish">Español</option>
            <option value="english">Inglés</option>
          </select>
        </div>
    </div>
  </div>
  <div class="modal-footer text-center">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-primary" ng-disabled="printPDFForm.$invalid" ng-click="vm.generatePDF(vm.revision, vm.comment, vm.language)">Generar</button>
          <button class="btn btn-secondary" ng-click="vm.cancel()"> Cancelar </button>
        </div>
      </div>
    </div>
  </div>
</form>
