<sidebar></sidebar>
<div class="content-wrapper">
  <uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.closeAlert($index)">{{alert.msg}}
  </uib-alert>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1> Revision del veh&iacute;culo</h1>
      </div>
    </div>
    <div class="show-info-container">
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Veh&iacute;culo:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.revision.vehicle_ref }}</span>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Placa:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.revision.license_plate }}</span>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Llave:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.vehicle.key }}</span>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Usuario:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.revision.username }}</span>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>N&uacute;mero de contrato:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.revision.contract_number }}</span>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Lugar de entrega:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.revision.delivery_place }}</span>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Gas:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.revision.gas_level }}</span>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Km:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.revision.km }} km</span>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Tipo:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.revision.type }}</span>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Fecha:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.revision.timestamp | date:'yyyy-MM-dd HH:mm:ss' }}</span>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-md-2">
          <label>Da&ntilde;os:</label>
        </div>
        <div class="col-md-4">
          <div ng-repeat="damage in vm.revision.damages">
            <label>Tipo de da&ntilde;o: </label>
            <span>{{ damage.damage_type }}</span><br/>
            <label>Parte del carro: </label>
            <span>{{ damage.part }}</span><br/>
            <label>Es Nueva: </label>
            <span ng-show="damage.is_new" class="glyphicon glyphicon-ok"></span>
            <span ng-hide="damage.is_new" class="glyphicon glyphicon-remove"></span>
            <br/>
            <br/>
          </div>
          <span ng-hide="(vm.revision.damages_ref) && (vm.revision.damages.length > 0)">Sin da&ntilde;os</span>
        </div>
        <div class="col-md-4" ng-controller="CanvasController">
          <canvas id="canvas" ng-click="downEvent($event)"></canvas>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Partes del veh&iacute;culo:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <div ng-repeat="part in vm.CAR_PARTS">
            <label>{{ part.name }}:</label>
            <span ng-if="!vm.isNotANumber(vm.revision.car_parts_present[part.id].toString())"> {{ vm.revision.car_parts_present[part.id] }} </span>
            <span ng-if="(vm.revision.car_parts_present[part.id]) && (vm.isNotANumber(vm.revision.car_parts_present[part.id].toString()))"
                  class="glyphicon glyphicon-ok"></span>
            <span ng-if="!(vm.revision.car_parts_present[part.id]) && (vm.isNotANumber(vm.revision.car_parts_present[part.id].toString()))"
                  class="glyphicon glyphicon-remove"></span>
          </div>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Llanta frontal izquierda:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.revision.tires.left_front }}</span>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Llanta frontal derecha:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.revision.tires.right_front }}</span>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Llanta trasera izquierda:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.revision.tires.left_rear }}</span>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Llanta trasera derecha:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.revision.tires.right_rear }}</span>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Observaciones:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <div ng-repeat="observation in vm.revision.observations">
            <span>{{ observation.observation }}</span>
          </div>
        </div>
        <div ng-hide="(vm.revision.observations_ref) && (vm.revision.observations.length > 0)"
             class="col-lg-10 col-md-8 col-sm-7">
          <span>Sin Observaciones</span>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label for="comment">Comentarios:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <textarea id="comment" data-ng-model="vm.comment" class="form-control"></textarea>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-2">
        <button class="btn btn-secondary btn-action" ui-sref="revisions"> Lista de Revisiones</button>
      </div>
      <div class="col-lg-2">
        <button class="btn btn-secondary btn-action" ng-click="vm.editRevision(vm.currentRevisionId)">Editar
        </button>
      </div>
      <div class="col-lg-3">
        <button ng-disabled="!showFeedbackButton(vm.revision.feedback_ref)" class="btn btn-secondary btn-action"
                ng-click="vm.goToFeedback(vm.currentRevisionId)"> Retroalimentación
        </button>
      </div>
      <div class="col-lg-2">
        <button class="btn btn-primary btn-action" ng-click="vm.printRevision(vm.currentRevisionId)">Imprimir
        </button>
      </div>
      <div class="col-lg-2">
        <button class="btn btn-primary btn-action" ng-click="vm.openEmailModal(vm.currentRevisionId)"> Enviar
          Correo
        </button>
      </div>
    </div>
  </div>
</div>

